<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config with Single-Spa Routing layout</title>

  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <!-- <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:image/svg+xml*"> -->

  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" type="text/css" rel="stylesheet">
  <!--Replace with your tailwind.css once created-->
  <link href="https://afeld.github.io/emoji-css/emoji.css" type="text/css" rel="stylesheet">
  <!--Totally optional :) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
    integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "vue": "https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js",
        "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@3.0.7/dist/vue-router.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
  <!-- <script src="https://unpkg.com/zone.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/zone.js@0.10.3/dist/zone.min.js"></script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/@esm-bundle/angular__core@9.1.9/system/es2015/angular-core.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@esm-bundle/angular__common@9.1.9/system/es2015/angular-common.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@esm-bundle/angular__platform-browser@9.1.9/system/es2015/angular-platform-browser.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@esm-bundle/angular__router@9.1.9/system/es2015/angular-router.js"></script> -->

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@single-spa/welcome": "https://unpkg.com/single-spa-welcome/dist/single-spa-welcome.js",
        "@tecnox/root-config": "//localhost:9000/tecnox-root-config.js",
        "@tecnox/angular-application": "http://localhost:4202/main.js"      }
    }
  </script>
  <script src="http://localhost:3002/remoteEntry.js"></script>
  <% } %>

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

</head>

<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
  <!--Nav-->
  <nav class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

    <div class="flex flex-wrap items-center">
      <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
        <!-- <a href="#">
          <span class="text-xl pl-2"><i class="em em-grinning"></i></span>
        </a> -->
      </div>

      <div class="flex flex-1 md:w-1/3 justify-center md:justify-start text-white px-2">
        <span class="relative w-full">
          <input type="search" placeholder="Search"
            class="w-full bg-gray-900 text-white transition border border-transparent focus:outline-none focus:border-gray-400 rounded py-3 px-2 pl-10 appearance-none leading-normal">
          <div class="absolute search-icon" style="top: 1rem; left: .8rem;">
            <svg class="fill-current pointer-events-none text-white w-4 h-4" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20">
              <path
                d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
              </path>
            </svg>
          </div>
        </span>
      </div>

      <div class="flex w-full pt-2 content-center justify-between md:w-1/3 md:justify-end">
        <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
          <li class="flex-1 md:flex-none md:mr-3">
            <a class="inline-block py-2 px-4 text-white no-underline" href="#">Active</a>
          </li>
          <li class="flex-1 md:flex-none md:mr-3">
            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
              href="#">link</a>
          </li>
          <li class="flex-1 md:flex-none md:mr-3">
            <div class="relative inline-block">
              <button onclick="toggleDD('myDropdown')" class="drop-button text-white focus:outline-none"> <span
                  class="pr-2"><i class="em em-robot_face"></i></span> Hi, User <svg class="h-3 fill-current inline"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg></button>
              <div id="myDropdown"
                class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible">
                <input type="text" class="drop-search p-2 text-gray-600" placeholder="Search.." id="myInput"
                  onkeyup="filterDD('myDropdown','myInput')">
                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                    class="fa fa-user fa-fw"></i> Profile</a>
                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                    class="fa fa-cog fa-fw"></i> Settings</a>
                <div class="border border-gray-800"></div>
                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                    class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </nav>


  <div class="flex flex-col md:flex-row">

    <div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">

      <div
        class="md:mt-12 md:w-50 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
        <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
          <li class="mr-3 flex-1">
            <a href="#" onclick="singleSpaNavigate('/')"
              class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-pink-500">
              <i class="fa fa-home pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Welcome</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
              class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
              <i class="fab fa-angular pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Simple</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#" onclick="singleSpaNavigate('/angular-application')"
              class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
              <i class="fab fa-angular pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Application</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#" onclick="singleSpaNavigate('/angular-webcomponent')"
              class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
              <i class="fab fa-angular pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">WebComponent</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
              class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
              <i class="fab fa-angular pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Module
                Federation</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
              class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-500">
              <i class="fab fa-react pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-gray-400 block md:inline-block">Simple</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
              class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-500">
              <i class="fab fa-react pr-0 md:pr-3 "></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-gray-400 block md:inline-block">Application</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
              class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
              <i class="fab fa-vuejs pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Application</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
              class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
              <i class="fab fa-vuejs pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">WebComponent</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#" onclick="singleSpaNavigate('/vuejs-module-federation')"
              class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
              <i class="fab fa-vuejs pr-0 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Module
                Federation</span>
            </a>
          </li>
        </ul>
      </div>


    </div>

    <div id="mycontainer" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">


    </div>
  </div>

  <script>
    /*Toggle dropdown list*/
    function toggleDD(myDropMenu) {
      document.getElementById(myDropMenu).classList.toggle("invisible");
    }
    /*Filter dropdown options*/
    function filterDD(myDropMenu, myDropMenuSearch) {
      var input, filter, ul, li, a, i;
      input = document.getElementById(myDropMenuSearch);
      filter = input.value.toUpperCase();
      div = document.getElementById(myDropMenu);
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
        var dropdowns = document.getElementsByClassName("dropdownlist");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (!openDropdown.classList.contains('invisible')) {
            openDropdown.classList.add('invisible');
          }
        }
      }
    }
  </script>
  <script>
    System.import('@tecnox/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>